@model PizzaStore.Domain.Models.PizzaModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Delete this?</h3>
<div>
    <h4>Pizzas</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PizzaToppings)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PizzaToppings)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.size)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.crust)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.crust)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>